<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout}">
<body>
<section th:fragment="content">
  <h1>도서 등록</h1>
  <form th:action="@{/register-book}" method="post" th:object="${book}">
    <label for="title">제목</label>
    <input type="text" id="title" th:field="*{title}" required><br>

    <label for="author">저자</label>
    <input type="text" id="author" th:field="*{author}" required><br>

    <label for="publisher">출판사</label>
    <input type="text" id="publisher" th:field="*{publisher}" required><br>

    <label for="isbn">ISBN</label>
    <input type="text" id="isbn" th:field="*{isbn}" required><br>

    <button type="submit">등록</button>
  </form>
</section>
</body>
</html>
